.artist_cover:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    rgba(37, 165, 106, 0.8) 0%,
    rgba(37, 165, 106, 0) 100%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.artist_cover:hover::before {
  opacity: 0.3;
}
