@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #c0c0c0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #16151a;
}

.custom-scroller::-webkit-scrollbar {
  width: 1px;
}

.custom-scroller::-webkit-scrollbar-track {
  background: #222227;
}

.custom-scroller::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  outline: 1px solid #222227;
}

/* new scroller */
.custom2-scroller::-webkit-scrollbar {
  width: 2px;
}

.custom2-scroller::-webkit-scrollbar-track {
  background: #222227;
  border-radius: 8px;
}

.custom2-scroller::-webkit-scrollbar-thumb {
  background-color: #515151;
  border-radius: 8px;
  outline: 1px solid #222227;
}

/* loader */
.loader {
  border-color: #c0c0c0;
  border-style: solid;
  border-top-color: #25a56a;
  border-radius: 50%;

  -webkit-animation: spin 700ms linear infinite; /* Safari */
  animation: spin 700ms linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
