@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #c0c0c0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #16151a;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.custom-scroller::-webkit-scrollbar {
  width: 16px;
}

.custom-scroller::-webkit-scrollbar-track {
  background: #222227;
}

.custom-scroller::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  outline: 1px solid #222227;
}
